---
layout: "wrapper.liquid"
---

<h1>{{ title }}</h1>
<div class="post-card-container">
    {% for post in collections.posts %}
    <a href="{{ post.url }}">
        <article class="post-card elevation1">
            {% if post.data.image %}
            <img alt="{{post.data.title}}" src="{{post.data.image}}" />
            {% endif %}
            <span class="post-card-caption elevation3">
                <div class="post-card-title">
                    {{ post.data.title }}
                </div>
                <div class="post-card-date">
                {{ post.data.date | toUTCString }}
                </div>
            </span>
        </article>
    </a>
    {% endfor %}
</div>
