---
layout: "wrapper.liquid"
---

<h1>{{ title }}</h1>
<div class="post-card-container">
    {% for post in collections.posts %}
        <article class="post-card elevation1" style="background-image: url({{post.data.image}})">
            <a href="{{ post.url }}">
            <span class="post-card-caption elevation3">
                <div class="post-card-title">
                    {{ post.data.title }}
                </div>
                <div class="post-card-date">
                {{ post.data.date | toUTCString }}
                </div>
            </span>
            </a>
        </article>
    {% endfor %}
</div>
