<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }} | {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="styles/resets.css" />
        <link rel="stylesheet" type="text/css" href="styles/layout.css" />
        <link rel="stylesheet" type="text/css" href="styles/color-scheme.css" />
    </head>
    <body>
        <header class="site-header">
            <ul>
            {% for ref in collections.headerNav %}
                <li><a href="{{ref.url}}"{% if page.url == ref.url %} class="active" {% endif %}>{{ref.data.title}}</a></li>
            {% endfor %}
            </ul>
        </header>
        {{ content }}
    </body>
</html>
