<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="Description" content="{{summary}}"/>
        <title>{{ site.title }} | {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/index.css" />
    </head>
    <body>
        <header class="site-header">
            <ul>
            {% for ref in collections.headerNav %}
                <li><a href="{{ref.url}}"{% if page.url == ref.url %} class="active" {% endif %}>{{ref.data.title}}</a></li>
            {% endfor %}
            </ul>
        </header>
        {{ content }}
        </main>
    </body>
</html>
